{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"]}],
    "comma-dangle": "off",
    "object-curly-newline": "off",
    "consistent-return": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "no-useless-constructor": "off",
    "indent": "off"
  }
}